<a href="/posts/new">글 작성하기</a>

<% @posts.each do |post| %>
	제목 : <%= post.title %><br>
	내용 : <%= post.content %><br>

	<form action="/posts/comment_create/<%=post.id%>" method="post">
	<div class="input-group">	
	<input type="text" class="form-control" name="content" placeholder="댓글을 작성하세요">
	<span class="input-group-btn">
		<button class="btn btn-default" type="submit">
			댓글달기
		</button>
	</span>
		</div>
	</form>
	<p>
	<div class="panel-footer">
		<% post.comments.each do |comment| %>
			<%= comment.content %>
		<% end %>
	</div>
	</p>
	<a href="/posts/edit/<%=post.id %>"><button type="button" class="btn btn-success">수정</button></a>
	<a href="/posts/delete/<%=post.id %>"><button type="button" class="btn btn-danger">삭제</button></a>
<% end %>